name: Docker Publish

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push code-server
        uses: docker/build-push-action@v5
        with:
          context: ./mobile-magic
          file: ./mobile-magic/docker/Dockerfile.frontend.prod
          push: true
          tags: 100xdevs/antidevs-frontend:${{ github.sha }}
          env:
            - name: NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY
              value: ${{ secrets.CLERK_PUBLISHABLE_KEY }}
